:root {
    --grey:         hsl(197, 17%, 64%);
    --white:        hsl(0, 0%, 96%);
    --black:        hsl(0, 0%, 12%);
    --blue:         hsl(193, 70%, 30%);
    --trans:        hsla(0, 0%, 96%, 0.8);
    --cqc_blue:     hsl(181, 59%, 83%);
    --cqc_lilac:    hsl(317, 19%, 71%);
    --yellow:       hsl(60, 83%, 66%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background: linear-gradient(var(--cqc_blue), var(--cqc_lilac));
    background-attachment: fixed;
    font-family: system-ui, sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 24vw;
    background: no-repeat url(../../dist/gfx/banner_spirals.webp);
    background-size: cover;
}

header h1 {
    align-self: center;
    margin-left: 1vw;
    margin-bottom: 10vw;
    font-size: clamp(26px, 6vw, 380%);
    color: var(--blue);
    filter: drop-shadow(0 0 4px white);
}

.banner {
    font-family: "Anton SC";
}

.small-header {
    font-size: 50%;
    color: var(--cqc_lilac);
}
main {
    display: flex;
    margin-top: 14vw;
    padding: 1vw;
    /* scroll snap */
    scroll-behavior: smooth;
    scroll-snap-destination: 0% 0%;
    scroll-snap-type: mandatory;
}

figure {
    display: flex;
    flex: 0 0 40vw;
    /* min-width: 560px; */
    max-height: 65vh;
    margin-right: 1vw;
    padding: 1vw 2vw 1vw 1vw;
    background: var(--trans);
    border-radius: 0.5vw;
    filter: drop-shadow(0 0 0.3rem var(--blue));
    transition: filter .3s ease;
    /* scroll snap */
    scroll-snap-coordinate: 0% 0%;
}

figure:hover {
    filter: drop-shadow(0 0 0.3rem var(--trans));

}

figcaption {
    min-width: 14vw;
    padding: 0 0 0 0.8rem;
}

img {
    width: 52vh;
    height: auto;
}

figure h1 {
    padding-bottom: 1vh;
    font-size: calc(var(--font_size) / 1.7);
    line-height: 1.2 !important;
    color: var(--blue);
}

p {
    color: var(--black);
}

@media screen and (max-width: 660px) {
    main {
        flex-direction: column;
    }

    header {
        /* height: 30vw; */
        background: no-repeat url(../../dist/gfx/banner_spirals.webp);
        background-size: contain;
    }

    img {
        max-width: 30vh;
    }

    figure {
        margin-right: 0;
        margin-bottom: 1vw;
        padding: 0;
    }

    figcaption {
        margin-top: 5px;
    }

    .mv-bar.mv-ui {
        display: none !important;
    }
}

@media screen and (max-width: 375px) {
    header h1  {
        font-size: clamp(24px, 6vw, 380%);
    }
}

/* Mavo related */

/* keep editing toolbar compact in bottom right corner */
.mv-bar.mv-ui:not(.mv-fixed) {
	position: fixed;
    top: 94%;
    right: 1%;
    background: var(--blue);
}

/* hide the github blurb */
.mv-status span {
	display: none;
}

/* hides the alt text editor when not editing */
.image-description {
    display: none;
}

[mv-mode="edit"].image-description {
	display: initial;
	position: absolute;
	top: -2rem;
	left: 0;
	width: 70%;
	padding: 0.3rem;
	border-radius: 0.4rem;
	background: var(--yellow);
}

/* [mv-mode="edit"].image-description::after {
	content: 'write image alt text ';
	position: absolute;
	top: -3.2rem;
	left: 0;
	padding: 0.5vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 80% 75%, 80% 100%, 70% 75%, 0% 75%);
	background: yellow;
} */

/* provides a target area to add a new image */
img.mv-empty {
	width: 100%;
	height: 100%;
}