:root {
    --grey:         hsl(197, 17%, 64%);
    --white:        hsl(0, 0%, 96%);
    --black:        hsl(0, 0%, 12%);
    --blue:         hsl(193, 70%, 30%);
    --trans:        hsla(0, 0%, 96%, 0.8);
    --cqc_blue:     hsl(181, 59%, 83%);
    --cqc_lilac:    hsl(317, 19%, 71%);
    --yellow:       hsl(60, 83%, 66%);
}

@font-face {
    font-family: 'cqc';
    src: url(../../dist/fonts/impact_min.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background: linear-gradient(var(--cqc_blue), var(--cqc_lilac));
    background-attachment: fixed;
    font-family: system-ui, sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 24vw;
    background: no-repeat url(../../dist/gfx/banner_spirals.webp);
    background-size: cover;
}

.banner {
    position: relative;
    align-self: center;
    margin-left: -100%;
    margin-bottom: 10vw;
    font-family: "cqc";
    font-size: clamp(26px, 9vw, 380%);
    text-transform: uppercase;
    color: var(--blue);
    filter: drop-shadow(0 0 4px white);
}

/* .banner {
    font-family: "Anton SC";
    font-family: "Monoton";  
} */

.animate-banner {
    margin-left: 1vw;
    transition: margin-left 1.2s cubic-bezier(.73,-0.01,.47,1.37) .6s
}


.small-header {
    position: absolute;
    top: -150%;
    bottom: -1.8rem;
    right: -5.4rem;
    font-size: 55%;
    color: var(--cqc_lilac);
}

.animate-span {
    top: 75%;
    transition: top .8s cubic-bezier(.73,-0.01,.47,1.37) 1.8s;
}

main {
    display: flex;
    margin-top: 14vw;
    padding-top: 1vw;
}

figure {
    display: flex;
    align-items: center;
    max-height: 58vh;
    margin-right: 1vw;
    padding: 1vw 2vw 1vw 1vw;
    background: var(--trans);
    border-radius: 0.5vw;
    filter: drop-shadow(0 0 0.3rem var(--blue));
    transition: filter .3s ease;
}

figure:first-of-type {
	border-radius: 0 0.5vw 0.5vw 0;
}

figure:last-of-type {
	border-radius: 0.5vw 0 0 0.5vw;
}

figure:hover {
    filter: drop-shadow(0 0 0.3rem var(--trans));

}

figcaption {
    min-width: 14vw;
    padding: 0 0 0 0.8rem;
}

img {
    width: 28vw;
    height: 100%;
    object-fit: contain;
}

figure h1 {
    padding-bottom: 1vh;
    font-size: calc(var(--font_size) / 1.7);
    line-height: 1.2 !important;
    color: var(--blue);
}

p {
    hyphens: auto;
    color: var(--black);
}

footer p {
    position: fixed;
    top: 95.7%;
    bottom: 0;
    margin-left: 1vw;
}

footer a {
	padding: 0.4rem 0.8rem;
	color: white;
	background: var(--blue);
	border-radius: 0.3rem;
}

@media screen and (max-width: 660px) {
    main {
        flex-direction: column;
        margin-top: 20vw;
    }

    header {
        height: 24vw;
        background: no-repeat url(../../dist/gfx/banner_spirals.webp);
        background-size: contain;
    }

    .small-header {
        bottom: -2.6vh;
        right: -10.3vw;
    }

    img {
        width: 100%;
        height: 100%;
    }

    figure {
        flex-direction: column;
        align-items: initial;
        max-height: initial;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0;
    }

    figcaption {
        margin-top: 5px;
        padding: 0 0.4rem 4vw 0.8rem;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 10vh;
    }

    footer p {
        position: initial;
        margin-right: 2vw;
    }

    .mv-bar.mv-ui {
        display: none !important;
    }
}

@media screen and (max-width: 320px) {
    header h1  {
        font-size: clamp(24px, 6vw, 380%);
    }
}

/* Mavo related */

/* keep editing toolbar compact in bottom right corner */
.mv-bar.mv-ui:not(.mv-fixed) {
	position: fixed;
    top: 94%;
    right: 1%;
    background: var(--blue);
}

/* hide the github blurb */
.mv-status span {
	display: none;
}

/* hides the alt text editor when not editing */
.image-description {
    display: none;
}

[mv-mode="edit"] img {
	min-width: 300px;
}

[mv-mode="edit"].image-description {
	display: initial;
	position: absolute;
	top: -2rem;
	left: 0;
	width: 70%;
	padding: 0.3rem;
	border-radius: 0.4rem;
	background: var(--yellow);
}

/* [mv-mode="edit"].image-description::after {
	content: 'write image alt text ';
	position: absolute;
	top: -3.2rem;
	left: 0;
	padding: 0.5vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 80% 75%, 80% 100%, 70% 75%, 0% 75%);
	background: yellow;
} */

/* provides a target area to add a new image */
img.mv-empty {
	width: 100%;
	height: 100%;
}